<?xml version="1.0" encoding="UTF-8"?>
<Configuration >
    <Appenders>
        
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} [%t] %level %logger - %msg%n" />
        </Console>
        <File name="MAIN" fileName="C:/e2/task-full-2/bookstore/src/logs/application.log" append="false">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} [%t] %level %logger - %msg%n" />
        </File>
      
    </Appenders>

    <Loggers>
      
        <Root level="info">
            <AppenderRef  ref="Console" />
            <AppenderRef ref="MAIN" />
        </Root>
      
    </Loggers>
</Configuration>
