html {
  height: 100%;
  width: 100%;
}
body {
  height: 100%;
  width: 100%;
  margin: 0%;
  padding: 0%;
  font-family: sans-serif;
}

.wrap {
  width: 100%;
  height: 100%;
  background: purple;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}
.container {
  padding: 0% 3%;
  width: 70%;
  background: white;
  margin: 3%;
  justify-content: center;
}
.booktitle {
  display: flex;
  justify-content: center;
  font-family: sans-serif;
}

.btn-container {
  display: grid;

  grid-template-columns: 1fr 1fr;
}
.btn-container > a {
  margin: 10px;
}
/* CSS */
.btn {


  background-color: purple;
  border-radius: 6px;
  border-width: 0;

  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue",
    Ubuntu, sans-serif;
  font-size: 100%;
  height: 44px;
  line-height: 1.15;
  margin: 12px 0 0;
  outline: none;
  overflow: hidden;
  padding: 0 25px;

  text-align: center;



  width: 100%;
}

.btn:hover {
  background-color: rgb(111, 1, 111);
}

.btn:disabled {
  cursor: default;
}


.mwb-form-main-wrapper {
  font-family: "Lato", sans-serif;
  line-height: 1.5;
  width: 100%;
  background-color: #f5f5f5;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mwb-form-main-container {
  background-color: #fff;
  box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.11);

  width: 50%;
}
.mwb-form-main-container form {
  padding: 2.5% 3%;
  margin: 0%;
}
.mwb-form-main-container h1 {
  background-color: purple;
  color: #ffffff;
  font-size: 30px;
  font-weight: 500;
  margin: 0px;
  padding: 22px 15px;
  text-align: center;
}
.mwb-form-group {
  font-size: 14px;
  margin-bottom: 30px;
  position: relative;
}
.mwb-form-text-label {
  left: 10px;
  position: absolute;
  top: 12px;
  transition: 0.2s linear all;
}
.mwb-form-group.focus-input .mwb-form-text-label {
  background-color: #ffffff;
  padding: 0 2px;
  top: -11px;
  
}
.mwb-form-control {
  background-color: #ffffff;
  border-radius: 4px;
  border: 2px solid #dddddd;
  font-size: 14px;
  padding: 13px;
  width: 100%;
}
.mwb-form-submit-btn {
  background-color: purple;
  border-radius: 4px;
  border: none;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  width: 96%;
  padding: 16px 10px;
}

.mwb-form-error {
  color: #f52626;
  display: none;
  font-size: 12px;
  padding-top: 2px;
}

.show {
  display: block;
}
.hide{
  display: none;
}
.align-center {
  align-items: center;
  
}
.flex{
  display: flex;
  justify-content: space-between;
}

.checkboxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.checkbox-container {
  padding: 1% 2%;
  display: flex;
  max-width:20%;
  min-width: fit-content;
}
.select-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 10%;
}
.select-form > select {
  width: 50%;
  height: 35%;
  font-size: 16px;
  padding-inline: 10px;
  margin-bottom: 2%;
}
.no-margin {
  margin-bottom: 0px;
}

.center {
  display: flex;
  justify-content: center;
  padding-bottom: 3%;
}
.text-center{
  text-align: center;
}
.column{
  flex-direction: column;
}
.back-btn{
  width:100%;
  background-color: #202438;
  color:white;
}
.submit-back-btn{
  background-color: #202438;
  color:white;
}

.back-btn:hover{
  background-color: #141724;
}

.back-btn-link{
  width:10%;
}
.success{
  color: green;
  font-size: 14px;
}
.error{
  color: red;
  font-size: 14px;
}


@media (max-width: 768px) {
  .mwb-form-main-container {
    width: 75%;
  }
}

@media (max-width: 425px) {
  .mwb-form-main-container {
    width: 95%;
  }
  .select-form > select {
    width: 70%;
  }
  .btn-container{
    grid-template-columns: 1fr;
  }
  .container{
    width:85%;
  }
  .booktitle{
    font-size: 32px;
  }
}

@media (min-width: 769px) {
  .container {
    width: 50%;
  }
}
.contain {
  position: relative;
}
.inp {
  background-color: white;
  color: #27272a;
  border: 1px solid #52525b;
  width: 250px;
  border-radius: 8.75px;

  padding: 12px 16px;
  font-size: 18px;
}
.inp:focus {
  border: 1px solid #2563eb;
  outline: none;
}
.inp::placeholder,
.inp::-webkit-input-placeholder,
.inp::-ms-input-placeholder,
.inp::-moz-input-placeholder {
  color: #71717a;
}

.bgc{
  width: 70%;
  display: flex;
  padding-bottom: 1%;
  justify-content: right;
}


table {
  width: 70%;
  border-collapse: collapse;
  overflow: hidden;
  border-radius: 10px;

}
th,
td {
  max-width: 0;
word-wrap: break-word;
  padding: 15px;
  background-color: #fff;
  color: #808080;

}
td{
  border: 1px solid;
}
th {
  text-align: left;
}
th:first-child{
  border-right: 1px solid #fff;
}
thead th {
  background-color: #202438;
  color: #fff;
  font-weight: unset;
}
tbody tr:hover {
  background-color: #f5f5f5;
}
.user-list{
  text-transform: capitalize;
  word-break: break-all;
}


