<hibernate-configuration>
<session-factory>
    <property name="hibernate.connection.driver_class">org.mariadb.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mariadb://localhost:3306/customers</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">praveen</property>
        
        <property name="hibernate.show_sql">true</property>
        <property name="hbm2ddl.auto">update</property>
<mapping class="com.customers.beanclasses.Customer" />
</session-factory>



</hibernate-configuration>